
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista 3</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    
    <section class="flex items-center justify-center gap-25 py-50 flex-col sm:flex-row">
        <div class="text-center border-5 border-green-800 shadow-2xl">
            <h1 class="text-7xl p-3 font-bold text-emerald-700">Natureza Viva</h1>
            <h2 class="text-4xl p-3 font-semibold text-emerald-800">Mistérios da Vida</h2>
            <p class="text-xl p-3 font-medium text-green-950">O que há por dentro dela? O que ela esconde?</p>
        </div>
        <div class="border-10 border-green-800 shadow-2xl">
            <figure class="">
                <img src="img/nature.jpg" alt="Imagem de uma floresta">
            </figure>
        </div>
    </section>

    <!-- Usei flex pela maior familiaridade. Não sei muito sobre o uso de grid.-->

</body>
</html>
