<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>

    <h1>Meus Produtos ({{qtd}}) </h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>categoria</th>
        </tr>
        {% for i in itens %}
        <div class="card bg-base-100 w-96 shadow-sm">
            <figure class="max-w-[200px]">
                <img src="{{i.imagem}}"/>
            </figure>
            <div class="card-body">
                <h2 class="card-title">Nome: {{i.nome}}</h2>
                <p>Preço: {{i.nome}}</p>
                <p>Categoria: {{i.categoria}}</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </table>

</body>

</html>