<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Olá {{nome}} {{sobrenome}}
        <br>

        Seu email é:
        {{email}}
        <br>

        Data de nascimento:
        {{datanasc}}
        <br>

        Seu stand é:
        {{stand}}
        <br>

        Parte favorita:
        {{part}}
        <br>
        
        Poder:
        {{poder}}
    </p>
</body>

</html>